<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team_game.team %>
</p>

<p>
  <strong>Game:</strong>
  <%= @team_game.game %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @team_game.kills %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @team_game.deaths %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @team_game.assists %>
</p>

<p>
  <strong>Fbkill:</strong>
  <%= @team_game.fbkill %>
</p>

<p>
  <strong>Fbdeath:</strong>
  <%= @team_game.fbdeath %>
</p>

<p>
  <strong>Fbassist:</strong>
  <%= @team_game.fbassist %>
</p>

<p>
  <strong>Drakes:</strong>
  <%= @team_game.drakes %>
</p>

<p>
  <strong>Herald:</strong>
  <%= @team_game.herald %>
</p>

<p>
  <strong>Barons:</strong>
  <%= @team_game.barons %>
</p>

<p>
  <strong>Elders:</strong>
  <%= @team_game.elders %>
</p>

<p>
  <strong>Dmg:</strong>
  <%= @team_game.dmg %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @team_game.gold %>
</p>

<p>
  <strong>Goldspent:</strong>
  <%= @team_game.goldspent %>
</p>

<p>
  <strong>Wardsplaced:</strong>
  <%= @team_game.wardsplaced %>
</p>

<p>
  <strong>Wardskilled:</strong>
  <%= @team_game.wardskilled %>
</p>

<p>
  <strong>Viswards:</strong>
  <%= @team_game.viswards %>
</p>

<p>
  <strong>Viswardbuys:</strong>
  <%= @team_game.viswardbuys %>
</p>

<p>
  <strong>Cs10:</strong>
  <%= @team_game.cs10 %>
</p>

<p>
  <strong>Oppcs10:</strong>
  <%= @team_game.oppcs10 %>
</p>

<p>
  <strong>Gold10:</strong>
  <%= @team_game.gold10 %>
</p>

<p>
  <strong>Oppgold10:</strong>
  <%= @team_game.oppgold10 %>
</p>

<p>
  <strong>Gold15:</strong>
  <%= @team_game.gold15 %>
</p>

<p>
  <strong>Oppgold15:</strong>
  <%= @team_game.oppgold15 %>
</p>

<p>
  <strong>Xp10:</strong>
  <%= @team_game.xp10 %>
</p>

<p>
  <strong>Oppxp10:</strong>
  <%= @team_game.oppxp10 %>
</p>

<p>
  <strong>Side:</strong>
  <%= @team_game.side %>
</p>

<p>
  <strong>Pick1:</strong>
  <%= @team_game.pick1 %>
</p>

<p>
  <strong>Pick2:</strong>
  <%= @team_game.pick2 %>
</p>

<p>
  <strong>Pick3:</strong>
  <%= @team_game.pick3 %>
</p>

<p>
  <strong>Pick4:</strong>
  <%= @team_game.pick4 %>
</p>

<p>
  <strong>Pick5:</strong>
  <%= @team_game.pick5 %>
</p>

<p>
  <strong>Ban1:</strong>
  <%= @team_game.ban1 %>
</p>

<p>
  <strong>Ban2:</strong>
  <%= @team_game.ban2 %>
</p>

<p>
  <strong>Ban3:</strong>
  <%= @team_game.ban3 %>
</p>

<p>
  <strong>Ban4:</strong>
  <%= @team_game.ban4 %>
</p>

<p>
  <strong>Ban5:</strong>
  <%= @team_game.ban5 %>
</p>

<p>
  <strong>Result:</strong>
  <%= @team_game.result %>
</p>

<p>
  <strong>Towers:</strong>
  <%= @team_game.towers %>
</p>

<p>
  <strong>Firsttower:</strong>
  <%= @team_game.firsttower %>
</p>

<p>
  <strong>Fttime:</strong>
  <%= @team_game.fttime %>
</p>

<p>
  <strong>Firstmid:</strong>
  <%= @team_game.firstmid %>
</p>

<p>
  <strong>First3towers:</strong>
  <%= @team_game.first3towers %>
</p>

<p>
  <strong>Minions:</strong>
  <%= @team_game.minions %>
</p>

<p>
  <strong>Monstersownjg:</strong>
  <%= @team_game.monstersownjg %>
</p>

<p>
  <strong>Monstersenemyjg:</strong>
  <%= @team_game.monstersenemyjg %>
</p>

<%= link_to 'Edit', edit_team_game_path(@team_game) %> |
<%= link_to 'Back', team_games_path %>
