<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_game.player %>
</p>

<p>
  <strong>Game:</strong>
  <%= @player_game.game %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @player_game.champion %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @player_game.kills %>
</p>

<p>
  <strong>Deaths:</strong>
  <%= @player_game.deaths %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @player_game.assists %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= @player_game.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= @player_game.triples %>
</p>

<p>
  <strong>Quadras:</strong>
  <%= @player_game.quadras %>
</p>

<p>
  <strong>Pentas:</strong>
  <%= @player_game.pentas %>
</p>

<p>
  <strong>Fbkill:</strong>
  <%= @player_game.fbkill %>
</p>

<p>
  <strong>Fbdeath:</strong>
  <%= @player_game.fbdeath %>
</p>

<p>
  <strong>Fbassist:</strong>
  <%= @player_game.fbassist %>
</p>

<p>
  <strong>Drakes:</strong>
  <%= @player_game.drakes %>
</p>

<p>
  <strong>Herald:</strong>
  <%= @player_game.herald %>
</p>

<p>
  <strong>Barons:</strong>
  <%= @player_game.barons %>
</p>

<p>
  <strong>Dmg:</strong>
  <%= @player_game.dmg %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @player_game.gold %>
</p>

<p>
  <strong>Goldspent:</strong>
  <%= @player_game.goldspent %>
</p>

<p>
  <strong>Wardsplaced:</strong>
  <%= @player_game.wardsplaced %>
</p>

<p>
  <strong>Wardskilled:</strong>
  <%= @player_game.wardskilled %>
</p>

<p>
  <strong>Viswards:</strong>
  <%= @player_game.viswards %>
</p>

<p>
  <strong>Viswardbuys:</strong>
  <%= @player_game.viswardbuys %>
</p>

<p>
  <strong>Cs10:</strong>
  <%= @player_game.cs10 %>
</p>

<p>
  <strong>Oppcs10:</strong>
  <%= @player_game.oppcs10 %>
</p>

<p>
  <strong>Gold10:</strong>
  <%= @player_game.gold10 %>
</p>

<p>
  <strong>Oppgold10:</strong>
  <%= @player_game.oppgold10 %>
</p>

<p>
  <strong>Gold15:</strong>
  <%= @player_game.gold15 %>
</p>

<p>
  <strong>Oppgold15:</strong>
  <%= @player_game.oppgold15 %>
</p>

<p>
  <strong>Xp10:</strong>
  <%= @player_game.xp10 %>
</p>

<p>
  <strong>Oppxp10:</strong>
  <%= @player_game.oppxp10 %>
</p>

<%= link_to 'Edit', edit_player_game_path(@player_game) %> |
<%= link_to 'Back', player_games_path %>
